.icon { }

.icon-phone {
    width: 17px;
    height: 18px;
}

.icon-search {
    width: 18px;
    height: 18px;
}

.icon-cart {
    width: 17px;
    height: 18px;
}

.icon-member {
    width: 17px;
    height: 18px;
}

.icon-facebook {
    width: 20px;
    height: 20px;
}

.icon-instagram {
    width: 20px;
    height: 20px;
}

.icon-twitter {
    width: 22px;
    height: 18px;
}

.icon-youtube {
    width: 22px;
    height: 16px;
}

.icon-right-caret {
    width: 6px;
    height: 10px;
}

.icon-label-after {
    margin-left: 10px;
}

.icon-label-before {
    margin-right: 10px;
}
