@import "./fonts.css";
@import "./icons.css";

@import "./components/btn.css";
@import "./components/section-header.css";
@import "./components/product-box.css";

@import "./pages/home/top-campaign-links.css";
@import "./pages/home/top-area.css";
@import "./pages/home/hero.css";
@import "./pages/home/special-bundles.css";
@import "./pages/home/discount-products.css";
@import "./pages/home/special-campaign.css";

* {
    box-sizing: border-box;
}

body {
    font: normal 15px/1.4 'Gilroy', helvetica, sans-serif;
}

.main-container {}

.wide-container {
    width: 1340px;
    margin: 0 auto;
}

.content-container {}

@media (min-width: 1140px) {
    .content-container {
        width: 1140px;
        margin: 0 auto;
    }
}
